
body{
    background:lightyellow;
    margin: 0 0 0 0;
    font-family:Mukta, sans-serif ;
}
#about {
    display: none;
} 
#popper {
    display: none;
}



h1 {
    text-align:center;
    font-family:algerian, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 550;
    text-shadow: 1px 1px 10px white;           
}
.btn {
    background-color: rgba(10, 216, 210, 0.555) ;
    border: 2px outset ;
    border-radius: 55px;
    user-select: none;
    padding:2px 6px;
    font-size: larger;
    font-weight: bold;
    transition: all .2s;
    max-width: 150px;
    text-align: center;
} 
.btn.close {
    border: 1px outset grey;
    position: fixed;
    font-family: serif;
    z-index: 9;
    right: -12px; 
    top: -12px;
}
.btn:hover {
    background-color: aqua;
    border: 2px inset ; color: rgb(0, 0, 0);
    cursor: pointer; text-decoration:underline #000;
}.btn.close:hover {
    cursor: auto;
    text-decoration: none;
    border: 1px solid black;
    color: #000;

    background-color: inherit;		
} .btn.close:active, .btn:active {
    transition: none;
    background-color: cadetblue;
}
   
    .div , .intro {
        text-align:center;
    }

    .lb  {
        color:darkred;
        background-color: rgba(105, 105, 96, 0.93);
        font-size:24px;
        margin:5px 35px 35px 5px;
        padding:10px;
        float: left;
        border-radius:5px;
        text-align: center;
        transform-style: preserve-3d;
        display:flow-root;
        overflow: hidden;
        border:1px solid;
        border-color: chartreuse gold lightgrey;
        box-shadow: 0px 2px 3px grey;
    }
    .lb a {
        color:black;
        position: relative;
        z-index: 5;
        font-weight: 600;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .web {
        position: inherit;
        padding:5px;
        border:5px ridge ;
        /*
        width:200px;
        height: 250px;*/
        border-color: inherit;

        display: flex;
        width:300px;
        height: 100px; 

        column-gap: 20px;

        align-items: center;
        /*
        display:grid;
        align-items: center;
        justify-content: center;
        z-index: 99;*/
    } .web  .btn.click-me{
        margin:auto;
        position: grid;
        padding: 2px 10px;
        font-size: inherit;
        bottom: 10px;
        background-color: aqua;
        margin-bottom: 10px;
        border-radius: 10px;
        border-style: outset ;
    } .web .btn.click-me:hover {
        border:2px inset  ;
    } .web .btn.click-me:active {
        background-color: green;
    }

    .lb:hover  {
        overflow: hidden;
        box-shadow: 0px 0px 10px -1px  rgb(61, 63, 61);
        background-color: lightblue!important;
        background-color: rgba(238, 255, 0, 0.995)!important;
    }
    .lb a:hover {
        color: darkblue;
        background-color: initial;
    }
    #popper {
        position: fixed ;
        z-index: 2;
        top:50%;
        left:50%;
        padding: 10px;
        max-width: 500px;
        transform: translate(-50%,-50%);
        border: 1.2px dashed ;
        border-color: cyan;
        background-color:rgba(69, 77, 11, 0.91); 
        border-radius: 	5px;
        overflow:visible;
        color:white;
        animation: border-anim  linear 1s 15;
        text-align: center; font-size: 1.2rem;
    }
    .ddescrip {
        position: relative;
    }
    .descrip {
        position: absolute;
        border:1px solid #000;
        border-radius: 3px;
        z-index: -1;
        border-left: 3px solid ;
        border-bottom: 3px solid;
        font-size: medium;
        max-width:280px; 
        padding: 5px;
        margin: 270px 0 0 0;
        background-color: lightblue;
        border-top: none;
        display: none;
        /*transform: translate(-10px,0%);*/

    }
            

    .intro {			
        font-size: 1.8vw;
        font-size: 20px;
        color:lightgrey;
        background:rgb(67, 5, 5);
        padding:7px;
        margin-bottom:0px !important;
        border-radius: 0px;
        text-align: center;
        margin:0;
    }
    

    .enco {
        background:lightgreen;
    }
    .waiting {
        background-color: lightcyan;
    }

     div span {
        color:grey; 
    }
        
    .d-ad {
        padding: 5px;
        display: nonje;
        position: fixed ;
        z-index: 1;
        top:50%;
        left:50%;
        max-width: 500px;
        transform: translate(-50%,-50%);
        border: 1px dashed ;
        border-color: cyan;
        background-color:rgba(69, 77, 11, 0.91);
        border-radius: 	5px;
        overflow:visible;
        box-shadow: 1px 1px 20px 0px  snow;
    }
    .link-title {
        color: #000;
        background-color: lightgray;
        border: 1px solid rgb(200, 200, 200);
        border-radius: 5px;
        font-weight: bold;
        padding: 5px;
        margin: auto;			
    }
    .div .lb a {
        text-shadow: 1px 0px 2px white;
    }
    .div {
        position: relative;
        margin: auto;
        box-sizing: border-box;
        overflow-x:scroll;
    } .div::-webkit-scrollbar{
        display: none;
    }
     .div .lb {
        display: inline-block;
        float:none;
        margin:20px;
    }
    #header {
        box-sizing: border-box;
    }
    #header div {
        box-shadow: 1px 1px 2px -1px  green;
    }
    @media (max-width:799px){
        h1 {
            margin-top: 0;
        }
    }

    @media (min-width:800px){
        
        #header {
            width:30%;text-align: center;float: left;margin: auto;
        }
        #header div {
            box-shadow: 1px 1px 10px 2px green;
            border-radius: 10px;
            width: 20vw;border: 1px dashed;margin: auto;
        }
        h1 { font-size: 5vw; z-index:5; 
        }
        #header img {
            width:35%;
        }
        

        .div {text-align: center;font-size: 1vw; float:right; width: 70%;margin:22px 0;}
        .lb {align-items: center;}
        #header { margin-top: 5%;}

    }
    .d-img{
        top: initial !important;;
        margin-right: 10px;
        margin-bottom: 10px;
        left: initial!important;
        transform: none!important;
    }



    .bg-move {
        background-repeat: no-repeat;
        background-image: linear-gradient(270deg,rgba(255, 255, 0, 0) 47%,rgba(211, 211, 211, 0.8) 50%,rgba(198, 22, 22, 0)100%);
        animation: bg-move linear 5s infinite;
        animation-delay: 0s;
    }
    .bg-move-fast {
        background-repeat: no-repeat;
        background-image: linear-gradient(270deg,rgba(255, 255, 0, 0) 27%,rgba(211, 211, 211, .51) 50%,rgba(198, 22, 22, 0)100%);
        animation: bg-move-fast linear 5s infinite;
    }
    .gol {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: absolute;
        border: 1px solid grey; 
        z-index: -1; 

    } .gol.bottom { bottom:-50px; left:-50px; }
      .gol.top { top:-50px; right:-50px; }
        
        
    
    @keyframes bg-move {
        0% { background-position: -500px 0;}
        100% { background-position: 1000px 0;}
    }
    @keyframes bg-move-fast {
        0% { background-position: -100px 0;}
        100% { background-position: 200px 0;} 
    }
    @keyframes fadeInDown {
        0% {top: -200px;}
        100% {top:initial}
    }
    @keyframes border-anim {
        0% {border:2px dashed aqua}
        33% {border:2px dotted lawngreen;}
        50%{border-width: 2px;}
        66%{border:2px dashed darkblue;}
        100% {border:2px dotted yellow;} 
    }
    .hidden {
        display: none !important;
    } 

/**********************************/
    .link-title:hover {
        background-color: yellow!important;

    } .web .btn.click-me{
        font-size: 18px;

    }.web .btn.click-me:hover{
        background-color: #ef0;
        font-size: 20px;
    }
    .click-me a {
        text-decoration: none;
    }
    #container {
        position: relative;
    }
/**********************************/
    .quote-div {
        font-family: 'Noto Serif Devanagari';
        position:relative;
        margin:5% 2%;
        border-top:2px solid;
        border-radius: 2px;
    } .quote-div .title {
        padding:2px 12px;
        padding-top: 4px;
        background-color: brown;
        color: aqua;
        text-shadow: 1px 1px 2px black;
        font-size: 1.2rem;
        border: bottom 2px solid rgb(212, 254, 0);
        border-bottom-right-radius: 5px; 
    } 
    .quote-div .quote div {
        position: inherit;
        margin-left: 40%;
        width:65%;
        box-sizing: border-box;
        padding: 0;
    }
        .eyes-love {
        background-color: #d9d9a4;
        color:#000;
        text-shadow: 0px 0px 1px aqua;
        font-size: 1.2rem;
    } .quote-div .quote {
        margin:2% 10%;
        border-top-right-radius: 5vw ;
        border-bottom-left-radius: 5vw; 
        box-shadow: 1px 1px 1px; 
        padding:10px 50px;
    }
    .quote.eyes-love div {
        color: darkslategray;
        text-shadow: none;
    }

/**********************************/

    #tools-title {
		font-family: Georgia, 'Times New Roman', Times, serif;
		font-size:60px;background-color: rgb(74, 1, 51);
		color:#fff;text-shadow: 1.5px 1.5px 5px black;
		box-shadow:0px 5px 0px 2px  rgb(221, 255, 0); 
		min-width: 150px;margin-top: 15%;
		padding:2%;font-weight: bold;text-align: center;
        border-radius: 0 0 20% 20%; 
		 
    }
    #iframes h1 { 
        font-family: Cambria, monospace;
    }
    #ifr3, .loading.ifr3 {
        display: none;
    }
/**********************************/
.loading {
    background-image: linear-gradient(270deg,rgba(255, 255, 0, 0) 47%,rgba(211, 211, 211, 0.8) 50%,rgba(198, 22, 22, 0)100%);
    animation: bg-move-fast linear 1.5s infinite;
    transition: width ;			
    animation-delay: 0s;
    background-color: rgb(21, 142, 208);
    width:150px;
    margin:10px auto;
    font-weight:bold;
    border-radius: 10px;
    text-align: center;
    text-shadow: 0px 0px 1px aqua;
    padding: 5px;
}
#iframes iframe {
    opacity: 0; transition: opacity 2s ease; 			
}
/**********************************/

#iframes h1 {
    box-shadow: 0px 0px 1px ;
    padding: 5px;		
} 
/*.spining {
    display: flow-root;
    text-align: center;
    animation: spinh 7s linear infinite;
    clear: both;position: relative;
    height:10vw;width:10vw;margin:50px auto;
    margin-bottom:20px ;
    border:1px solid;
    
    border-radius: 0% !important;
    background-image: repeating-conic-gradient( rgb(255, 255, 255),pink,  rgba(0, 128, 0, 0.735) 30%, rgba(0, 0, 255, 0.792),rgba(128, 0, 128, 0.773) 40%);
  
    box-shadow: 0 0 0 10px purple, 0 0 0 20px orange, 0 0 0 30px pink;
			}
.spining .core {
    padding: 2vw;
    height:2vw;width:2vw;
    
    margin:  1.9vw;  
    
    border-radius: 0%;
    border:.2vw solid;
    transform: rotateZ(135deg); 
    background-color: rgb(255, 255, 255);
}*/ 
@keyframes spin { 
        0% {transform:rotate(0deg);}
        100% {transform:rotate(360deg);}
    }
.connect {
    display: flex;
    position: fixed;
    top:1px;right:1px;
} .connect.btn:hover {
    width:50px;border-radius: 10px;
} .connect div {
    display: inline;	
    height:50px;
    margin: auto;
    color:green;
} .connect a , .connect a:hover, .connect.btn {
    text-decoration: none !important;
} .connect.btn {
    width: 25px;height: 25px;
    padding: 5px;
    text-align: center;
    display:grid;
    border-radius: 50%;
}
@media (min-width:800px) {
    #iframes iframe {
        border-radius: 15px;
    }
}
/*.d-ad,*/ #evening-dark {
opacity: .75;
    }
        /******************************/
 #ifr3 {
	 height:400px ;
 }

@media screen and (width:600px) {
    #noter textarea{
       min-height: 400px !important;
   } 
}



   /*########## Head CSS ###########*/

.footerHW ul img {
    width:15px;
    top:50%;left: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-right: 5px;
    border-radius: 3px;
}
.footerHW ul {
    padding:3px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.footerHW ul li {
    display: flex;
    margin:0px 1vw;
    padding:2px 5px;
    cursor:default;
    border-radius: 3px;
    border:1px solid rgb(114, 53, 53,.8);
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
}
.footerHW ul li:hover {
    background-color: rgb(109, 19, 19);
}
.footerHW ul li:active {
    background-color: rgb(37, 60, 60);
}
.footerHW {
    background-color: rgb(56, 0, 0);
    margin:0;
    padding:0;
    width: 100%;
    position: fixed;
    transition: all .5s;
    top: -60px;
    color: white;
    font-family: sans-serif;
    /*border-bottom:1px solid brown;*/
}
.btn.normal {
    font-weight: 500;
    font-size: inherit;
    border:initial;
    border-radius: initial;
}
a.normal .btn.normal {
    border-radius: 2px;
}
.btn.normal:hover {
    text-decoration: none;
}
@media (max-width:300px) {
    .footerHW ul {
        display: block;
        justify-content:right;                    
        margin-bottom: 0;
    }
    .footerHW ul li {
        display: block;
        margin-bottom: 3px;
        text-align: center !important;
    }
    .footerHW ul li:last-child { 
        min-width: 98% !important; 
    }
    .footerHW {
        display: block;
        width:100%;
        /* background-color: rgba(0, 0, 0, 0); */
        position: relative;
    } 
    .footerHW #footer-grip {
        background:grey;
        text-align: right;
        margin:auto;
        margin-right: 7px;
        padding:3px 5px;
        border-radius: 5px;
        transition: all .5s;
        width:fit-content;
    }
}
@media (min-width:480px){

    .footerHW ul li {
        margin:0px 1vw;
        padding:3px 1vw;
        height: 29px;
        display: grid;
        align-items: center; 
    } 


}
.pb {
    height: 0.2em;
    background-color: #ef0;
    border-bottom: 1px solid rgb(0, 68, 255);

}


/** For Connect button at bottom **/

a.normal {
text-decoration: none;
color: inherit;
}

.btn.out {
    border-radius: 3px;
    font-weight: 500;
}

.center {
    text-align: center;
    margin-left:auto;
    margin-right:auto ;
}

a.p p {
    margin: auto;
}

.fit {
    max-width: fit-content;
}

/**/

.uco-div .intro {
    display: none;
}

.fixedCenter {
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

#tools-title {
    display: none;
}

/** FOR FEEDBACK AND FOOTER at bottom*/

textarea, input {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#successMessage H3 {
    margin: 0;
}
.res-true {
    color:green;
    text-shadow: 0px 0px 3px aqua;
}
.res-false {
    color: red;
    text-shadow: 0px 0px 3px grey;
}   
.loading-icon {
    animation: loading 3s infinite;
}  
@keyframes loading {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

/**/
form .g {
	color: rgb(79, 3, 3);
}

.feedback#feedback_form label {
	color:#000;
}
.feedback#feedback_form input, .feedback#feedback_form textarea {
	padding: 3px 5px;
	margin-bottom: 10px;
}

.feedback .g {
	margin: 5px;
}

.feedback h3.h3-h  {
	background-color: beige;
	border-top:1px solid brown;
	text-align: center; 
}
#f-bottom {
	overflow: hidden;
} /**/
.feedback-footer {

	margin-top: 50px;
	position: relative;
	display: flex;
    padding: 10px; 
	border-top:2px solid black;
	border-bottom:20px solid rgb(255, 255, 255);

	background-color: rgb(71, 8, 8);
	float: none;
}
.feedback-footer .leftdiv {
    float: left;
    width: 60%;
    box-sizing: border-box;
    padding: 10px;
    border-right: 1.5px solid #fff; 
}    
.feedback-footer .leftdiv img {
    height: 30px;
    width: 30px;
    margin-top:2%;
    float: left;
    padding-left: 1%;
    margin-right: 15px;
	border-radius: 50%;
}
.feedback-footer .leftdiv p {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.feedback {
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    float: right;
    width:50%;
	margin:auto;
	max-width: 450px; 
	background-color: rgb(201, 166, 129,.9);
	z-index: 3;
}
.feedback input {
    width: 70%;

    /* margin-right: 20%; */
}
#feedback_form label {
    color: brown;
}

#feedback_form textarea {
    margin-top: 5px;
    margin-bottom: 5px;
    border-color: blue;
    border:1.2px outset;
    border-radius: 3px;
    min-width: 93%;
    min-height: 95px;
    max-width: 100%;
	height:50px;
    max-height: 350px;
} #feedback_form textarea:hover{
    border:1.2px inset;
}
.ui {
	font-weight:100;
	font-style: normal;
	text-decoration: none;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media (max-width:500px){
	.feedback-footer .leftdiv , .feedback-footer .feedback {
		float: none ; width: 100%;
		
	} .feedback-footer {
		display: grid;
	}

}
#feedback {
    resize: vertical; 
}
#feedback_form input {
margin: 5px;
}
.a {
    cursor: pointer;
}
.a:hover {
    text-decoration:underline ;		
}
.d-by {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: left;
    z-index: 9!important ;
}
@media (max-width:500px) {
    .d-by {
        bottom: 15px;
        text-align: right;
        right:20px;z-index: 9!important ;
    }
}

.d-img {
    background-image:url(dep/d-img.jpg) !important;
}

#a1d {
    z-index: 99;
    background-color: rgba(72, 8, 9, 0.9);

}
/****quick links******/
	
.quick-links {
    background-image: linear-gradient(#d9d9a4, #fff  );
    padding:20px;
    margin:1%;
    border-color: rgb(80, 4, 4);
    color: rgb(71, 8, 8);
    border-width: 2px;
    border-top-style:solid ;
    border-bottom-style:ridge;
    box-shadow: 0px 0px 0px 1px grey; 
}

.quick-links ul li {
    margin-inline-end: 1.5em;
    padding: 5px;
}

.quick-links ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.quick-links p{
    padding: 5px;
    background-color: #d2b4b4;
    font-weight: bold;
}

.quick-links li:hover {
    text-decoration: underline;
    cursor: pointer;
}
				
/* imported */
.i {
    
    position: absolute;
    z-index: 9;

}
.r3p {
    right: 0%;  

}
.l3p {
    left:0%;
}

.quote-div {
    overflow: hidden;
}
.quote {
    padding: 50px;
}
.bbp {
    display: flex;
    transition: .1s; 
    align-items: center;
    z-index: 1;
    top:15%; 
    bottom: 10%; 
    padding: 3%;
    background-color: inherit;
    border-radius: 5px;
}
.bbp:hover {
    background-color: rgba(188, 193, 115, 0.23);
}
.bbp:active{
    background-color: rgba(155, 160, 96, 0.456);


}

div.quote-div {
    margin-top: 1%;

}
 
/* flacebox */

/* .flexbox {
    width:100%;
    transition: all 5s;
    display:flex;
    flex-wrap:nowrap !important;
    overflow-x: scroll;
    flex-direction: row; /* Arrange items in a row 
    align-items: stretch;
    margin-left:auto;margin-right:auto;
    scroll-snap-type: x mandatory;
    scroll-snap-align:start;
    align-items: center;
}
.flexbox .Nquote {
    position: relative;
    margin:10px;
    flex: 0 0 100%;
    scroll-snap-type: x mandatory;
    scroll-snap-align:start;
    width:100%;
    box-sizing: border-box;
} */
.Nquote:first-child {
    border-left: 3px solid;
}
.Nquote:last-child {
    border-right: 3px solid;
}
/* 
.flexbox::-webkit-scrollbar {
    border: 1px solid rgba(180, 140, 140, 0.744);
    border:none;
    display:nonme;
    height: 10px;
    overflow: hidden;
    background-color: rgba(169, 80, 80, 0.689);
    background-color: inherit;
    display: none;
}

.flexbox::-webkit-scrollbar-track {
    background: #f1f1f1;
    background-color: initial;
    border-radius: 2px; 
}

.flexbox::-webkit-scrollbar-thumb {
    background: #5e5d5d;  
    border-radius: 2px; 
}

.flexbox::-webkit-scrollbar-thumb:hover {
    background: #454444;  

} */
.fa.btn {
    display: flex;
    align-items: center;
    height:7%;
}
.Nquote::before {
    content: "HindiWeb.github.io";
    position: absolute;
    text-shadow: 0px 0px 2px white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 10px;
    color: rgba(0, 0, 0, 0.249); /* Adjust the alpha channel for opacity */
    pointer-events: none; /* Ensure the watermark doesn't interfere with interactions */
    
}

/*Extract from W3.CSS 4.15 December 2020 by Jan Egil and Borge Refsnes */
/* html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit} */

.col,.half,.third,.twothird,.threequarter,.quarter{float:left;width:100%}
.col.s1{width:8.33333%}.col.s2{width:16.66666%}.col.s3{width:24.99999%}.col.s4{width:33.33333%}
.col.s5{width:41.66666%}.col.s6{width:49.99999%}.col.s7{width:58.33333%}.col.s8{width:66.66666%}
.col.s9{width:74.99999%}.col.s10{width:83.33333%}.col.s11{width:91.66666%}.col.s12{width:99.99999%}

@media (min-width:601px){
    .col.m1{width:8.33333%}.col.m2{width:16.66666%}.col.m3,.quarter{width:24.99999%}.col.m4,.third{width:33.33333%}
    .col.m5{width:41.66666%}.col.m6,.half{width:49.99999%}.col.m7{width:58.33333%}.col.m8,.twothird{width:66.66666%}
    .col.m9,.threequarter{width:74.99999%}.col.m10{width:83.33333%}.col.m11{width:91.66666%}.col.m12{width:99.99999%}
}

@media (min-width:993px){
    .col.l1{width:8.33333%}.col.l2{width:16.66666%}.col.l3{width:24.99999%}.col.l4{width:33.33333%}
    .col.l5{width:41.66666%}.col.l6{width:49.99999%}.col.l7{width:58.33333%}.col.l8{width:66.66666%}
    .col.l9{width:74.99999%}.col.l10{width:83.33333%}.col.l11{width:91.66666%}.col.l12{width:99.99999%}
}

            
.w3-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.w3-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}


/* IDK */


.line {
    border-bottom: 2px solid rgb(80, 4, 4);
    margin: 10px 0px;
}
#a1d {
    box-shadow: 0px 0px 0px 5px #fff ,
    0px 0px 10px 10px grey;
}
#popper {
    z-index: 99;
}
.subscribe {
    background-color: green;
    color: #ef0;
    border-radius: 5px;
    margin:5px;
}
.cnt {
    margin:5px;
}